* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* FONTES EXTERNAS */
@font-face {
  font-family: "Avenir-Light";
  src: url("fonts/Metropolis-Light.otf");
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("fonts/Metropolis-Medium.otf");
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("fonts/Metropolis-Bold.otf");
}

/* VARIÁVEIS GLOBAIS */
:root {
  --silver: silver;
  --black-transparence: rgba(0, 0, 0, 0.8);
  --white: #fff;
  --black: #000;
  --blue-btn: #6421ff;
  --blue-btn-hover: #016cf9;
  --white-btn: #f9f9f9;
  --bg-color: #040714;
  --bg-accordion: #13151d;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Avenir-Light", sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

/* CONFIG GERAL PARA OS BOTÕES/LINKS */
.btn {
  padding: 13px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1.1rem;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
}

.header__content__top {
  max-width: 1124px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}

.header__content__top.changeMenu {
  display: none;
}

.header__content__top .btn__login {
  border: 1px solid var(--white-btn);
  color: var(--white-btn);
  background-color: var(--black-transparence);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.header__content__top .btn__login:hover {
  border: 1px solid var(--white-btn);
  color: var(--black);
  background-color: var(--white-btn);
}

.header__content__topFixed {
  display: none;
  max-width: 1124px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__content__topFixed.changeMenuBlack {
  display: flex;
}

.header__content__topFixed .btn__logo {
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
}

.header__content__topFixed .btn__logo img {
  width: 80px;
}

.header__content__topFixed ul {
  display: flex;
  align-items: center;
  height: 60px;
}

.header__content__topFixed ul .btn__login {
  border: 1px solid var(--white-btn);
  color: var(--white-btn);
  background-color: var(--black-transparence);
  white-space: nowrap;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.header__content__topFixed ul .btn__login:hover {
  border: 1px solid var(--white-btn);
  color: var(--black);
  background-color: var(--white-btn);
}

.header__content__topFixed ul .btn__signature {
  border: 1px solid var(--blue-btn);
  color: var(--white-btn);
  background-color: var(--blue-btn);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  margin-right: 20px;
}

.header__content__topFixed ul .btn__signature:hover {
  border: 1px solid var(--blue-btn-hover);
  background-color: var(--blue-btn-hover);
}

/* PRINCIPAL */
main {
  display: block;
}

/* PRIMEIRA SEÇÃO */
.signature {
  width: 100%;
  height: 100vh;
  background-image: url("../images/original-resolution.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5%;
  display: flex;
  align-items: center;
}

.signature__items {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  position: relative;
  margin-top: 80px;
}

.title__signature {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.image__disney__signature {
  width: 50%;
  margin-bottom: 30px;
}

.signature__items a {
  color: var(--white);
}

.btn__signature__ofert {
  background-color: var(--blue-btn);
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 30px;
}
.btn__signature__ofert:hover {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
}

.links__type__signature {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-bottom: 7rem;
}

.links__type__signature a {
  font-size: 0.9rem;
  text-decoration: underline;
  white-space: nowrap;
}

.btn__icon__down {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.5rem;
  animation: btnIconDown 3s infinite;
  -webkit-animation: btnIconDown 3s infinite ease-out;
}

@keyframes btnIconDown {
  0% {
    bottom: 10px;
  }

  35% {
    bottom: 0;
  }

  70% {
    bottom: 5px;
  }

  100% {
    bottom: 0;
  }
}

/* SEGUNDA SEÇÃO */
.signature__types {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5%;
}

.signature__types h1 {
  font-size: 2.5rem;
  color: var(--white);
  margin-bottom: 40px;
}

.types {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.type {
  max-width: 33.33%;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  height: auto;
  padding: 12px;
}

.type__description {
  width: 100%;
  padding: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.type__description h3 {
  font-size: 1rem;
  color: var(--silver);
}

.type__description h2 {
  font-size: 1.2rem;
  color: var(--white);
  margin: 35px 0 15px 0;
}

.type__description h4 {
  font-size: 1rem;
  color: var(--silver);
  line-height: 2rem;
}

.type__description a {
  font-size: 1rem;
  color: var(--white);
  background-color: var(--blue-btn);
  width: 100%;
  padding: 20px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 30px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.type__description a:hover {
  background-color: var(--blue-btn-hover);
}

.signature__types span {
  font-size: 0.6rem;
  color: var(--silver);
}

/* TERCEIRA SEÇÃO */
.watch__anyway {
  display: flex;
  flex-direction: row;
  padding: 0 5%;
  width: 100%;
  margin: 70px 0;
}

.watch__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  padding: 0 30px 0 0;
}

.watch__anyway h1 {
  font-size: 2rem;
  line-height: 5rem;
}

.watch__anyway p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.watch__image__device {
  width: 50%;
}

.watch__image__device img {
  width: 100%;
}

/* QUARTA SEÇÃO */
.exclusive__disney {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
  margin: 70px 0;
}

.exclusive__disney h1,
h3 {
  color: var(--white);
  text-align: center;
  margin-bottom: 30px;
}

.grid__exclusives {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.image__exclusive {
  padding: 10px;
}

.image__exclusive img {
  width: 100%;
}

.download__films__series {
  width: 100%;
  height: auto;
  padding: 3% 5%;
  position: relative;
}

.download__container {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.banner__image {
  width: 100%;
  height: auto;
}

.banner__image img {
  width: 100%;
  height: 100%;
}

.banner__description {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  color: var(--white);
}

.banner__description h1 {
  font-size: 1.5rem;
}

.banner__description h3 {
  font-size: 1rem;
  text-align: start;
  margin-top: 30px;
  color: var(--silver);
}

/* QUINTA SEÇÃO */
.devices__type {
  width: 100%;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.devices__type h1 {
  font-size: 2.5rem;
  margin-bottom: 60px;
}

.devices {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.device__type {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.device__type img {
  width: 100%;
}

.device__type h1 {
  font-size: 1.5rem;
  margin-top: 20px;
}

.device__type span {
  font-size: 1rem;
  color: var(--silver);
  line-height: 1.5rem;
}

.device__type span:nth-child(3) {
  margin-top: -30px;
}

/* SEXTA SEÇÃO */
.accordions__questions {
  width: 100%;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.accordions__questions h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.accordions {
  width: 100%;
}

.accordion__tabs {
  overflow: hidden;
}

.accordion__tab {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.accordion__tab input {
  display: none;
}

.tab__label {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  background-color: var(--bg-accordion);
  cursor: pointer;
}

.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

.tab__description {
  max-height: 0;
  padding: 0 2rem;
  color: var(--silver);
  transition: all 0.35s;
  display: flex;
  flex-direction: column;
}

.tab__description span {
  font-size: 1rem;
  line-height: 3rem;
}

.accordion__tab input:checked + .tab__label::after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.accordion__tab input:checked ~ .tab__description {
  max-height: 100vh;
  padding: 0 2rem;
  background-color: var(--bg-accordion);
}

/* FOOTER */
.footer__content {
  width: 100%;
  padding: 3% 2%;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
  width: 100%;
}

.footer__logo img {
  width: 100px;
}

.footer__links {
  width: 100%;
  padding: 2% 10%;
}

.footer__link {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__link li {
  margin: 0 15px;
}

.footer__link li a {
  color: var(--silver);
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.footer__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text span {
  color: var(--silver);
  font-size: 0.7rem;
  text-align: center;
  margin: 10px 0;
}
